[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]ssets/StreamingAssets/*.bin
[Aa]ssets/StreamingAssets/*.dat
[Aa]ssets/StreamingAssets/*.pdb
[Aa]ssets/StreamingAssets/*.dll
[Aa]ssets/StreamingAssets/*.mem
[Aa]ssets/StreamingAssets/*.json
[Aa]ssets/StreamingAssets/*.so
[Aa]ssets/StreamingAssets/*.xml
[Aa]ssets/StreamingAssets/*.webp
[Aa]ssets/StreamingAssets/*.wasm


